<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
    <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<h2>USERS LIST</h2>

<table class="table table-bordered  table-sm">
    <thead class="thead-light">
    <tr>
        <th scope="col">Name</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="user : ${users}">
        <tr>
            <td>
                <a th:href="@{/users/{id}(id=${user.getId()})}"
                   th:text="${user.getFirstName() + ' '+ user.getLastName()}">user</a>
            </td>
        </tr>
    </th:block>
    </tbody>
</table>

<form action="users/new" target="_blank">
    <button>Add new user</button>
</form>

</body>
</html>