<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>
    <h2>USERS LIST</h2>

    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        <th:block th:each="user : ${users}">
            <tr>
                <td>
                    <a th:href="@{/users/{id}(id=${user.getId()})}"
                       th:text="${user.getFirstName()}">user</a>
                </td>
                <td th:text="${user.getLastName()}"></td>
            </tr>
        </th:block>
    </table>

    <br/>
    <hr/>

    <form action="users/new" target="_blank">
        <button>Add new user</button>
    </form>

</body>
</html>